
*.csv
*.pkl
*.pickle

__pycache__/
data.zip
nohup*
uv.lock
.vscode
*.pyc
.idea
cache

archives/
logs/*
logs-1/*
.env
.venv
logs.txt
*.db
tuning-2/*
*.weights
*.svg
.pytest_cache/
.devcontainer
# Tensorboard default directory
runs/
# Copilot agent instructions
.github/copilot-instructions.md
.zed
*.pdf

!logs/ppo-with-anomaly-no-modification
!logs/ppo-with-anomaly-with-modification
!logs/rppo-with-anomaly-no-modification
!logs/rppo-with-anomaly-with-modification
!logs/vae-with-anomaly-no-modification
!logs/vae-with-anomaly-with-modification
!logs/random-with-anomaly-no-modification
!logs/random-with-anomaly-with-modification
!logs/ppo-with-anomaly-no-modification-known-client
!logs/ppo-with-anomaly-with-modification-known-client
!logs/rppo-with-anomaly-no-modification-known-client
!logs/rppo-with-anomaly-with-modification-known-client
!logs/vae-with-anomaly-no-modification-known-client
!logs/vae-with-anomaly-with-modification-known-client
!logs/random-with-anomaly-no-modification-known-client
!logs/random-with-anomaly-with-modification-known-client